.layout_w {
  display: flex;
  align-items: flex-start;
}
.layout_sider {
  height: calc(100vh - 64px);
  background-color: white;
}
.header {
  background: white;
  display: flex;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  margin-left: -50px;
}
.logo_close {
  width: 80px;
  img {
    width: 40px;
  }
}
.collapsed_icon {
  font-size: 25px;
  margin-left: 20px;
  cursor: pointer;
}